$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

/* Put your CSS here */
html, body {
    /*margin: 30px 0;*/
}


.dropdown.dropdown-custom {
    text-indent: 15px;
    line-height: 28px;
    font-size: 18px;
    width: 200px;
}

.row.margin-bot {
    margin-bottom: 10px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.font-small {
    font-size: 10px;
}

.minHeaderSubNavBarMain {
    background-color:#88b535;
    height:5px;
}

.minHeaderSubNavBarSecondary {
    background-color:#cce49c;
    height:3px;
}

.navbar {
    border:0px;
}

.navbar-brand {
    padding: 15px 20px;
}
