$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

/* Put your CSS here */
html, body {
    margin: 30px 0;
}


.dropdown.dropdown-custom {
    text-indent: 15px;
    line-height: 28px;
    font-size: 18px;
    width: 200px;
}


