<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="http://www.keen.com/" target="_parent" class="navbar-brand"><img src="http://i.keen.com/D1_k3keenlogo_V1.png" alt="KEEN - Your Personal Advisor" title="KEEN - Your Personal Advisor" border="0" /></a>
        </div>
    </div>
    <div class="minHeaderSubNavBarMain"></div>
    <div class="minHeaderSubNavBarSecondary"></div>
</div>
