<div class="well">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group input-group-lg">
                <label for="price">Minute Rate:</label>
                <input id="price" type="text" class="form-control" placeholder="$2.99">
            </div>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>Price Per Minute that customers will see:</div>
                            <div>Connection Charges:</div>
                        </div>
                        <div class="col-md-3">
                            <div>$2.99</div>
                            <div>$0.20</div>
                        </div>
                    </div>
                </div>




        </div>
    </div>
</div>
</div>
